

.search-input {
    border-radius: 15px;
    height: 37.5px;
}

.submit-button {
    border-radius: 0 15px 15px 0;
    height: 37.5px;
}

.navbar {
    z-index: 20 !important;
}

a {
    cursor: pointer;
}

.dropdown-menu {
    a{
        color: white;
        &:hover {
            color: black;
        }
    }
}

.login {
    background-color: rgb(0, 0, 143);
    color: #ffffff;
    margin-left: 5px;
    &:hover {
        background-color: rgb(0, 0, 216);
    }
}