<div class="container-fluid row full-height">
  <section class="col-lg-6 col-md-12 col-sm-12 col-12 found-section full-height">
    <div class="carousel-caption">
      <h3>
        <a [routerLink]="['/items/found']">Lost an item?</a>
      </h3>
      <p>Check to see if anyone has found it.</p>
    </div>
  </section>
  <section class="col-lg-6 col-md-12 col-sm-12 col-12 lost-section full-height">
    <div class="carousel-caption">
      <h3>
        <a [routerLink]="['/items/lost']">Found an item?</a>
      </h3>
      <p>Check to see if anyone has reported it lost.</p>
    </div>
  </section>
</div>
