.footer-bar {
    position: absolute;
    width: 100vw;
    height: 50px;
    background-color: #343a40;
    overflow: hidden;
    bottom: 0;
    left: 0;
    color: white;
}

.pagination {
    display: inline-block;
    margin: 0 auto;
}