.section-wrapper {
    background-color: white;
    padding-top: 57px;
    overflow: hidden;
}

.item-switcher {
    margin: 0 auto !important;
    padding: 0 !important;
    width: 100%;
    height: auto;
    background-color: white;
    margin-top: 0;
    .switchers {
        color: black;
        text-align: center;
        padding: 10px;
        border-bottom: 1px solid #ddd;
        outline: none;
        cursor: pointer;
        .switcher-text {
            line-height: 20px;
        }
        &.switcher-active {
            border: 1px solid transparent;
            border-bottom: 4px solid #28a745;
        }
        &:hover {
            background-color: #e1ede1;
        }
    }
}

.sections {
    display: block;
    margin: 0 auto;
    margin-top: 0;
    width: 100vw;
    height: calc(100vh - 160px);
    padding: 20px 10px 10px 10px;
    border: 1px solid #ddd;
    background-color: white;
}

@media screen and (max-width: 700px) {
    .add-item-button-holder {
        display: none;
        visibility: hidden;
    }
}