<div class="container-fluid full-height section-wrapper">
    <div class="row justify-content-center item-switcher">
      <div [@foundSwitcher]="sectionToShow" [routerLink]="['/items/found']" class="col-5 col-sm-5 col-md-3 switchers" [class.switcher-active]="sectionToShow === 'found'">
        <span class="switcher-text">
          Found items
        </span>
      </div>
      <div [@lostSwitcher]="sectionToShow" [routerLink]="['/items/lost']" class="col-5 col-sm-5 col-md-3 switchers" [class.switcher-active]="sectionToShow === 'lost'">
        <span class="switcher-text">Lost items</span>
      </div>
    </div>
  <app-items-table [@foundFadeInOut]="sectionToShow" [itemsType]="'found'" class="sections found-section">
  </app-items-table>
  <app-items-table [@lostFadeInOut]="sectionToShow" [itemsType]="'lost'" class="sections lost-section">
  </app-items-table>
</div>

<app-round-button class="add-button" [disabled]="!(currentUser)"
(click)="openAddItemModal()" [toolTipText]="!(currentUser) ? 'Login to add item' : 'Add lost item'"></app-round-button>
<app-footerbar (paginationPage)="fetchPaginatedPage($event)"></app-footerbar>