* {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.background-container {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 101;
    overflow: hidden;
}

.error-404-background {
    background: url('https://images.unsplash.com/photo-1473254773321-be90a4a8e70c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e19cf8f8def798842f9aaa270c8f3829&auto=format&fit=crop&w=1952&q=80') no-repeat;
    background-size: cover;
}

.error-500-background {
    background: url('https://images.unsplash.com/photo-1461724947009-3c626ff3d2bc?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a6285973472b2de5a467fd4dc95b9753&auto=format&fit=crop&w=1950&q=80') no-repeat;
    background-size: cover;
}

.error-container {
    position: absolute;
    background-color: white;
    height: 98vh;
    width: 98vw;
    background: transparent;
    box-shadow: 0px 0px 50px black;
    top: 1vh;
    left: 1vw;
    padding-top: 20vh;
    align-content: center;
    z-index: 102;
}

.error-number, .error-message {
    color: white;
}

.dashboard-nav {
    position: absolute;
    left: 20px;
    top: 20px;
    z-index: 105;
    a {
        color: white;
        font-size: 20px;
        &:hover {
            color: green;
            border: grey;
            display: block;
            padding: 5px;
        }
    }
}

.confused-bear {
    position: absolute;
    bottom: 0;
    right: 20px;
    transition: 2s;
    animation: walk_left_right 20s infinite;
}

.error-number {
    font-size: 10em;
    font-weight: 100;
    text-align: center;
}

.error-message {
    font-size: 2em;
    text-align: center;
}

@keyframes walk_left_right {
    0% {
        right: 20px;
    }
    50% {
        right: calc(100vw - 148px);
    }
    100% {
        right: 20px;
    }
}


