* {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.background-container {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 101;
    overflow: hidden;
}

.error-404-background {
    background: url('./../../../../assets/images/404-background.jpg') no-repeat;
    background-size: cover;
}

.error-500-background {
    background: url('./../../../../assets/images/broken-car.jpg') no-repeat;
    background-size: cover;
}

.error-background {
    background: url('./../../../../assets/images/404-background.jpg') no-repeat;
    background-size: cover;
}

.error-container {
    position: absolute;
    background-color: white;
    height: 98vh;
    width: 98vw;
    background: transparent;
    box-shadow: 0px 0px 50px black;
    top: 1vh;
    left: 1vw;
    padding-top: 20vh;
    align-content: center;
    z-index: 102;
}

.error-number, .error-message {
    color: white;
}

.dashboard-nav {
    position: absolute;
    left: 20px;
    top: 20px;
    z-index: 105;
    a {
        color: white;
        font-size: 20px;
        &:hover {
            color: green;
            border: grey;
            display: block;
            padding: 5px;
        }
    }
}

.confused-bear {
    position: absolute;
    bottom: 0;
    right: 20px;
    transition: 2s;
    animation: walk_left_right 20s infinite;
}

.error-number {
    font-size: 10em;
    font-weight: 100;
    text-align: center;
}

.error-message {
    font-size: 2em;
    text-align: center;
}

@keyframes walk_left_right {
    0% {
        right: 20px;
    }
    50% {
        right: calc(100vw - 148px);
    }
    100% {
        right: 20px;
    }
}


