@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
// Variables
$regal-blue: #034378;
$san-juan: #2d4e68;
$bermuda: #77d7b9;
$white: #fff;
$black: #000;
$open-sans: 'Open Sans',
sans-serif;
@mixin clearfix {
    &::before,
    &::after {
        content: '';
        display: table;
    }
    &::after {
        clear: both;
    }
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

h1 {
    font-family: $open-sans;
    font-weight: 300;
    font-size: 20px;
}

.item-card {
    float: left;
    margin-bottom: 20px;
    width: 100%;
    overflow: hidden;
    box-shadow: 0 0 10px $black;
    cursor: pointer;
    .header {
        @include clearfix;
        color: $white;
        background: linear-gradient(to top, transparent, $black);
        opacity: 0.6;
        padding: 1em;
        .date {
            float: left;
            font-size: 12px;
        }
    }
    .menu-content {
        @include clearfix;
        margin: 0;
        padding: 0;
        list-style-type: none;
        float: right;
        li {
            display: inline-block;
            margin: 0 5px;
            position: relative;
        }
        a {
            color: $white;
        }
        span {
            position: absolute;
            left: 50%;
            top: 0;
            font-size: 10px;
            font-weight: 700;
            font-family: 'Open Sans';
            transform: translate(-50%, 0);
            transition: all 0.3s;
            opacity: 0;
        }
    }
    .wrapper {
        background-color: $white;
        position: relative;
        overflow: hidden;
        box-shadow: 0 19px 38px rgba($black, 0.3), 0 15px 12px rgba($black, 0.2);
        background: url('./../../../../assets/images/wallet-money.jpg') center / cover no-repeat;
        &:hover {
            .menu-content {
                span {
                    transform: translate(-50%, -10px);
                    opacity: 1;
                }
            }
            .data {
                transform: translateY(-50px);
                .claim-button {
                    visibility: visible;
                }
            }
        }
    }
    .data {
        background-color: $san-juan;
        position: absolute;
        bottom: 0;
        width: 100%;
        color: $white;
        transform: translateY(calc(0px));
        transition: transform 0.3s;
        .content {
            padding: 1em;
            position: relative;
            z-index: 1;
        }
    }
    .author {
        font-size: 12px;
    }
    .card-title {
        margin-top: 10px;
        a {
            color: $white;
        }
    }
    .claim-button {
        visibility: hidden;
        height: 50px;
        width: 100%;
        border-radius: 0 !important;
        margin: 0;
        font-size: 15px;
    }
}

.item-card {
  &.classic {
    height: 400px;
    .wrapper {
      min-height: 460px;
    }
  }
  &.compact {
    height: 300px;
    .wrapper {
      min-height: 360px;
    }
  }
}