.btn {
    height: 60px;
    width: 60px;
    font-size: 40px;
    padding: 0;
    margin: 0;
    border-radius: 50%;
    background-color: green;
    color: white;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    &:hover {
        transform: scale(1.05);
        .tool-tip {
            visibility: visible;
        }
    }

    &.disabled {
        background-color: gray;
        cursor: not-allowed;
        &:hover {
            transform: none;
            .tool-tip {
                visibility: visible;
            }
        }
    }

    .tool-tip {
        visibility: hidden;
        position: absolute;
        bottom: 100%;
        right: 50%;
        display: block;
        padding: 5px;
        background-color: rgb(41, 41, 41);
        border: 1px solid black;
        border-radius: 3px;
        font-size: 13px;
        transform: none;
    }

    .tilted {
        transform: rotate(45deg);
    }
}
