.modal-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.7);;
    z-index: 20;
    animation: slideInFromRight 0.5s;

    .custom-modal {
        position: fixed;
        min-height: 100vh;
        height: 100vh;
        background-color: rgb(231, 231, 231);
        box-shadow: 0 0 10px black;
        top: 0;
        right: 0;
        padding: 20px;
        z-index: 25;
        overflow: scroll;
        animation: fadein 1s;
    }

    .custom-modal-long {
        top: 5vh;
    }

    .custom-modal-short {
        top: 15vh;
    }
}

@keyframes fadein {

    0% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    from {
        left: 100vw;
    }
    to {
        right: 0vw;
    }
}

@media only screen and (max-width: 700px) {
    .custom-modal {
        width: 100vw;
    }
}

@media only screen and (min-width: 700px) {
    .custom-modal {
        width: 80vw;
    }
}